{% set url = h.url_for('home.index') + pkg.type + '/' %}
{% set url2 = url + pkg.name %}

    <section class="module module-narrow module-shallow export">
      <h2 class="module-heading"><i class="fa fa-share-square-o"></i> {{_('Export')}}</h2>
      <p class="module-content">

        <a target="_blank" href="{{ url2 }}.rdf?profiles=euro_dcat_ap">DCAT-AP(rdf/xml)   </a>
        <a target="_blank" href="{{ url2 }}.ttl?profiles=euro_dcat_ap">DCAT-AP(ttl) </a>
        <a target="_blank" href="{{ url2 }}.jsonld?profiles=euro_dcat_ap">DCAT-AP(jsonld) </a>
        <a target="_blank" href="{{ url2 }}.xml?profiles=dcat_ap_plus">DCAT-AP-PLUS(xml) </a>
        <a target="_blank" href="{{ url2 }}.ttl?profiles=dcat_ap_plus">DCAT-AP-PLUS(tll) </a>
          <a target="_blank" href="{{ url2 }}.jsonld?profiles=dcat_ap_plus">DCAT-AP-PLUS(jsonld) </a>



      </p>

        <p class="module-content">
            <a target="_blank" href="{{ url2 }}.rdf?profiles=schemaorg">Schema.Org(rdf/xml)   </a>
            <a target="_blank" href="{{ url2 }}.xml?profiles=schemaorg">Schema.Org(xml) </a>
            <a target="_blank" href="{{ url2 }}.ttl?profiles=schemaorg">Schema.Org(ttl) </a>
            <a target="_blank" href="{{ url2 }}.jsonld?profiles=schemaorg">Schema.Org(jsonld) </a>
        </p>
    </section>